.container {
  width: 100%;

  .main {
    @include flexbox;
    flex-direction: column;
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;

    .title {
      margin: 5rem 0;
      font-size: 4rem;
      color: $color-gray-700;
    }
  }
}
