.container {
  width: 100%;
  height: 100vh;

  .main {
    @include flexbox;
    z-index: 999;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;

    .title {
      margin: 4rem 0;
      font-size: 4.4rem;
      font-weight: 900;
      letter-spacing: -0.03em;
      color: $color-gray-700;
    }
  }
}
