.info-area {
  @include flexbox;

  .info-table {
    @include text-style(14);
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      vertical-align: center;
      height: 34px;
      border-bottom: 1px solid $color-gray-100;
    }

    th {
      padding-left: 2rem;
      color: $color-gray-400;
      font-weight: 400;
      text-align: left;
    }

    td {
      width: 50px;
      font-weight: 700;
      color: $color-gray-500;
    }
  }
}
