.info-area {
  @include flexbox;
  width: 100%;

  .info-table {
    @include text-style(14);
    @include flexbox(start);
    flex-wrap: wrap;
    width: 250px;
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      vertical-align: center;
      height: 34px;
      border-bottom: 1px solid $color-gray-100;
    }

    th {
      margin-right: 1vw;
      padding-left: 3vw;
      color: $color-gray-400;
      font-weight: 400;
      text-align: left;
    }

    td {
      width: 50px;
      font-weight: 700;
      color: $color-gray-500;
      margin-right: 1vw;
    }
  }
}
