.info-list {
  @include text-style(16);
  @include flexbox;
  margin: 0 2rem;
  border-top: 1px solid rgba($color: $color-white, $alpha: 0.4);
  text-align: left;
  flex-wrap: wrap;
  padding: 1rem 0 3rem;

  dt,
  dd {
    padding: 0.5rem 0;
    line-height: 1.7;
  }

  dt {
    @include flexbox;
    color: $color-white;
    font-weight: 400;
    margin: 0 1rem;
  }

  dd {
    margin-right: auto;
    flex-shrink: 1;
    font-weight: 700;
    color: $color-white;
  }

  @include responsive(T) {
    font-size: 20px;

    dt,
    dd {
      flex-shrink: 1;
    }

    dt:first-child {
      margin-left: auto;
    }

    dd {
      margin-right: auto;
    }
  }

  @include responsive(D) {
    margin-top: 10rem;
    padding: 3rem 0;
  }

  dd {
    flex-shrink: 1;
  }
}
