.temperature-card {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $color-white;

  .temp-list {
    @include flexbox;
    @include text-style;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding: 3rem 0 5rem;

    .temp-title {
      margin-right: 0.2rem;
    }

    .temp-title:not(:first-child)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: rgb($color-white, 0.7);
      margin: 0 1rem;
    }
  }

  .current-temp {
    @include text-style;
    @include flexbox;
    font-size: 12rem;
  }

  &.red {
    background-color: $color-red;
  }

  &.orange {
    background-color: $color-orange;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.green {
    background-color: $color-green;
  }

  &.light-blue {
    background-color: $color-light-blue;
  }

  &.blue {
    background-color: $color-blue;
  }

  &.purple {
    background-color: $color-purple;
  }
}
