.weather-info {
  position: relative;
  left: 50%;
  width: 200px;
  height: 50vh;
  transform: translateX(-50%);

  .weather-img {
    position: absolute;
    left: 50%;
    bottom: 4vh;
    width: 180px;
    height: auto;
    margin: 0 auto;
    transform: translateX(-50%);

    figure img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
