.weather-view {
  width: 100%;

  .area-info {
    @include text-style(16, $color-gray-500);
    @include flexbox;
    flex-direction: column;
    margin: 3vh 0;
  }

  .card-wrap {
    width: 200px;
  }
}
