.weather-info {
  @include flexbox;
  position: relative;
  height: 50vh;

  &:first-child {
    margin-left: 24vw;
  }

  .weather-img {
    position: absolute;
    left: 5%;
    bottom: 2vh;
    width: 180px;
    height: auto;

    figure img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
