.weather-info {
  @include flexbox;
  position: relative;
  height: auto;
  padding-bottom: 20vh;

  .weather-img {
    position: absolute;
    left: 50%;
    top: 17rem;
    width: 180px;
    height: auto;
    transform: translateX(-50%);

    figure img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
