$color-white: rgb(255, 255, 255);
$color-gray-100: rgba(239, 239, 239, 1);
$color-gray-300: rgba(204, 204, 204, 1);
$color-gray-400: rgba(119, 119, 119, 1);
$color-gray-500: rgba(85, 85, 85, 1);
$color-gray-700: rgba(35, 35, 35, 1);

$color-red: rgba(240, 86, 68, 1);
$color-orange: rgba(249, 125, 73, 1);
$color-yellow: rgba(249, 167, 71, 1);
$color-green: rgba(33, 202, 131, 1);
$color-light-blue: rgba(62, 203, 212, 1);
$color-blue: rgba(62, 122, 212, 1);
$color-purple: rgba(128, 68, 225, 1);
